body {
    background-color: #F8F7FF;
    text-align: center;
}

.owl {
    font-family: fantasy;
}

.secret {
    opacity: .5;
}

.trunk, .chest  {
    list-style-type: none;
}

.cabbage {
    color: chartreuse;
}

table, tr, td {
    border: 1px solid black;
    margin: auto;
    text-align: center;
}